@font-face {
    font-family: montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: montserrat_alternates;
    src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf);}
@font-face {
    font-family: Satoshi;
    src: url(/assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
}

body{
    background-color: #F2F0F1;
}


.header_head{
    display:inline-flex;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 100px;
    margin-right: 20px;
}
.header_head-menu{
    display: flex;
}
.header_head-logo{
    padding-right: 973px;
}
.header_head-menu-list ul {
    display: flex;
    gap: 20px; 
    list-style: none; 
    padding-right: 32px;
    padding-top: 38px;
    margin: 0;
    
}
.header_head-search{
    padding-top: 30px;
    padding-right: 743px;


}
.header_head-search input {
background-color:#F2F0F1;
    width: 253px;
    height: 40px;
    padding-right: 35px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 47px;
    border: 2px solid;
    border-color: #00000066;
    background-position: 268px center;
    background-image:url(/assets/icons/Icon.svg) ;
    background-repeat: no-repeat;
    background-size: 18px 18px;

}

.header_catalog{
    background-color: #AF8974;
    color:white;
    height: 63px;
    width: 100%;

}
.catalog_list{
    display: flex;
    padding-top: 18px;
    padding-right: 250px;
    padding-left: 150px;
    justify-content:space-between;
}
.catalog_link{
    font-family:montserrat,  sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size:25px;

        
}
.board-text{
    padding-top: 103px;
    padding-left: 93px;


}
.board-title{
    padding-left: 3px;
    font-family: montserrat_alternates;
    font-size: 84px;
    color: rgba(0, 0, 0, 1);
}
.subtitle-text{
    line-height: 1.2;
    font-family:montserrat;
    font-size: 20px;
    font-weight:300;
    color: rgba(0, 0, 0, 0.6);
}
.subtitle{
    padding-top: 40px;
}
.board_block-buttom{
    padding-top: 40px;

}
.board_buttom{
    background-color: rgba(175, 137, 116, 1);
    border: 0px;
    border-radius: 40px;
    padding: 20px 24px 20px 24px;
}
.board_buttom-text{
    color: rgba(255, 255, 255, 1);
    font-family: montserrat;
    font-size: 20px;
    font-weight: 300;

}

.board-statistics{
    display: flexbox;
    justify-content: space-between;
    padding-top: 40px;
}

.stat_text-title{
    font-family: Satoshi;
    font-size: 40px;
    font-weight:700;
    color:rgba(0, 0, 0, 1);
}
.statistics-text{
    font-family: Satoshi;
    font-size: 20px;
    font-weight:300;
    color:rgba(0, 0, 0, 0.6);
}

.Products{

}

.brands{

}
.happy{

}
